<h3>Estadísticas</h3>
<table>
	<tr>
		<td>Quizes: </td>
		<td><%=quizes%></td>
	</tr>
	<tr>
		<td>Comentarios: </td>
		<td><%=comments%></td>
	</tr>
	<tr>
		<td>Comentarios medios por pregunta: </td>
		<td><%=averageComments%></td>
	</tr>
	<tr>
		<td>Quizes con comentarios: </td>
		<td><%=commentedQuizes%></td>
	</tr>
	<tr>
		<td>Quizes sin comentarios: </td>
		<td><%=uncommentedQuizes%></td>
	</tr>
</table>